<nav>
    <div id="navbar">
        <div id="navbar-left">
            <a href="{{ path('accueil') }}"><img src="{{ asset('assets/images/favicon.svg') }}"> Sortir.com</a>
        </div>
        {% if app.user %}
            <div id="navbar-right">
                <ul id="navbar-links">
                    {{ include('fragments/_navbar_links.html.twig') }}
                </ul>
            </div>
        {% endif %}
    </div>
    <div id="navbar-mobile">
        <div id="navbar-mobile-top">
            <div id="navbar-mobile-left">
                <a href="{{ path('accueil') }}"><img src="{{ asset('assets/images/favicon.svg') }}"> Sortir.com</a>
            </div>
            <div id="navbar-mobile-right">
                <ion-icon id="navbar-hamburger" name="menu-outline"></ion-icon>
            </div>
        </div>
        <ul id="navbar-mobile-links">
            {{ include('fragments/_navbar_links.html.twig') }}
        </ul>
    </div>
</nav>