{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ outing.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/display.css') }}">
{% endblock %}

{% block body %}

    <div class="wrapper">
        <div class="display-left">
            <div>Nom de la sortie : {{ outing.name }}</div>
            <div>Date et heure de la sortie : {{ outing.startAt |date('Y-m-d H:i:s')}}</div>
            <div>Date limite d'inscription : {{ outing.limitSubscriptionDate |date('Y-m-d') }}</div>
            <div>Nombre de places : {{ outing.maxUsers - outing.users|length}}</div>
            <div>Durée : {{ outing.duration }} minutes</div>
            <div>Description et infos : {{ outing.about }}</div>
        </div>
        <div class="display-right">
            <div>Campus : {{ outing.campus }}</div>
            <div>Lieu : {{ outing.place }}</div>
            <div>Rue : {{ outing.place.street }}</div>
            <div>Code postal : </div>
            <div>Latitude : {{ outing.place.latitude }}</div>
            <div>Longitude : {{ outing.place.longitude }}</div>
        </div>
    </div>

    <div>
        <a>Liste des participants inscrits :</a>

        <table class="liste-participant">
            <thead class="title">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for user in outing.users %}
                    <tr>
                        {# TODO -> create the list #}
                        <td>{{ user.nickName }}</td>
                        <td>{{ user.lastName }}</td>
                    </tr>
                {% else %}
                    <p>Personne ne s'est encore inscrit à cette sortie</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if app.user and app.user not in outing.users and outing.status.libelle == "Ouverte" %}
        <a style="font-weight: bold" href="{{ path('subscription', {id: outing.id}) }}">S'inscrire</a>
    {% elseif app.user and app.user in outing.users %}
        <a style="font-weight: bold" title="Se désister" href="{{ path('outing_unregister', { id: outing.id }) }}">Se désister</a>
    {% elseif app.user and outing.status.libelle == "Clôturée" %}
    Nous sommes désolés, cette sortie est clôturée
    {% elseif app.user == outing.organizer and outing.status.libelle == 'En création' %}
        <a style="font-weight: bold" title="Modifier" href="{{ path('outing_update', { idOuting: outing.id }) }}">Modifier</a>
        <a style="font-weight: bold" title="Publier" href="{{ path('outing_publish', { id: outing.id }) }}">Publier</a>
        <a style="font-weight: bold" title="Annuler" href="{{ path('outing_cancel', { id: outing.id }) }}">Annuler la sortie</a>
    {% else %}
    Veuillez vous connecter pour vous inscrire
    {% endif %}
{% endblock %}