{% extends 'base.html.twig' %}

{% block title %}{{outing.name}}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function confirmCancel(){
            if(confirm('Souhaitez-vous vraiment annuler l\'opération ?')){
                window.location.href = '{{ path('temporary') }}';
            }
        }
    </script>

    <script>
        function confirmSuppress(){
            if(confirm('Souhaitez-vous vraiment supprimer la sortie ?')){
                //window.location.href = '{ path('temporary') }}';
            }
        }
    </script>

    <script src="{{ asset('assets/js/pages/outing_form.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="update-form">
        {{ form_start(outingUpdateForm) }}

        <div>
            {{ form_errors(outingUpdateForm) }}
        </div>

        {{ form_row(outingUpdateForm.name) }}
        {{ form_row(outingUpdateForm.startAt) }}
        {{ form_row(outingUpdateForm.limitSubscriptionDate) }}
        {{ form_row(outingUpdateForm.maxUsers) }}
        {{ form_row(outingUpdateForm.duration) }}
        {{ form_row(outingUpdateForm.about) }}
        {{ form_row(outingUpdateForm.campus) }}

        <div>
            {{ form_row(outingUpdateForm.place.town) }}
            {{ form_row(outingUpdateForm.place.name) }}
            {{ form_row(outingUpdateForm.place.street) }}
            {{ form_row(outingUpdateForm.place.town_postal_code) }}
            {{ form_row(outingUpdateForm.place.latitude) }}
            {{ form_row(outingUpdateForm.place.longitude) }}
            <!--<button id="addPlace"><img href="" alt="Nouveau Lieu"/></button>-->
        </div>

        <div>
            {{ form_row(outingUpdateForm.save) }}
            {{ form_row(outingUpdateForm.publish) }}
            <button type="submit" id="suppress"
                    onclick="confirmSuppress()">
                Supprimer
            </button>
            <button type="button" id="cancel"
                    onclick="confirmCancel()">
                Annuler
            </button>
        </div>

        {{ form_end(outingUpdateForm) }}
    </div>
{% endblock %}
