{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/home.css') }}">
{% endblock %}


{% block body %}

    <h3>Filtrer les sorties</h3>

    <form id="outing-form" method="get">

        {{ form_start(outingForm) }}
        <div class="wrapper">
            <div class="form-left">
                <div>
                    {{ form_row(outingForm.campus) }}
                    {{ form_row(outingForm.name) }}
                    {{ form_row(outingForm.startAt) }}
                    {{ form_row(outingForm.limitSubscriptionDate) }}
                </div>

            </div>

            <div class="form-right">
                <div>
                    {{ form_row(outingForm.organizer) }}
                    {{ form_row(outingForm.subscribed) }}
                    {{ form_row(outingForm.unsubscribed) }}
                    {{ form_row(outingForm.passed) }}
                </div>
            </div>
            <div class="search">
                <button type="submit" title="search">Rechercher</button>
            </div>
        </div>

        {{ form_end(outingForm) }}

    </form>

    <div>
        <table class="outingTable" table-striped table-bordered style="width:100%">
            <thead class="titles">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="outingList">

            {# check if outings #}
            {% if outings is defined and outings is not empty %}

                {# foreach outing #}
                {% for outing in outings %}

                    {# Take the finding outing's starting date #}
                    {% set startAt = outing.startAt|date('Y-m-d') %}

                    <tr class="text-center">
                        <td>{{ outing.name }}</td>
                        <td class="outingDate">{{ outing.startAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ outing.limitSubscriptionDate|date('Y-m-d') }}</td>
                        <td>{{ outing.users|length }}/{{ outing.maxUsers }}</td>
                        <td>
                            <span title="{{ outing.status.libelle }}">{{ outing.status.libelle }}</span>
                        </td>
                        <td class="text-success">

                            {% if outing.users %}
                            <a title="inscrit">X</a>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('show_profile', { username: outing.organizer.nickName }) }}">{{ outing.organizer.firstName }} {{ outing.organizer.lastName|slice(0, 1) }}.</a></td>

                        <td id="Action">
                            <div class="btn-group">
                                <a href="{{ path('outing_details', {id: outing.id}) }}" title="Afficher">Afficher</a>

                                {% if  app.user == outing.organizer %}
                                    <a title="Modifier">Modifier</a>
                                    {% if outing.status != "Annulée" %}
                                        <a title="Annuler" href="{{ path('outing_cancel', { id: outing.id }) }}">Annuler</a>
                                    {% endif %}
                                {% endif %}

                                {% if app.user in outing.users and outing.limitSubscriptionDate|date('Y-m-d')>"now"|date('Y-m-d') %}
                                    <a title="Se désister" href="{{ path('outing_unregister', { id: outing.id }) }}">Se désister</a>
                                {% elseif app.user is not same as app.user and app.user not in outing.users and outing.users|length != outing.maxUsers and outing.limitSubscriptionDate|date('Y-m-d')>"now"|date('Y-m-d') and outing.status == "Ouverte" %}
                                    <a href="{{ path('subscription', { id: outing.id }) }}" title="S'inscrire">S'inscrire</a>
                                {% else %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                    {# end of foreach outing #}
                {% endfor %}

                {# If there is no outing #}
            {% else %}
                <tr class="text-center">
                    <th class="text-center text-muted" scope="row" colspan="8">Aucun événement trouvé...</th>
                </tr>
                {# end of checking outings #}
            {% endif %}


            </tbody>
        </table>
    </div>
    <a href="{{ path('outing_creation') }}">
        <input type="button" value="Créer une sortie">
    </a>
{% endblock %}