{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function confirmCancel(){
            if(confirm('Souhaitez-vous vraiment annuler l\'opération ?')){
                window.location.href = '{{ path('temporary') }}';
            }
        }
    </script>

    <script src="{{ asset('assets/js/pages/outing_form.js') }}"></script>
{% endblock %}
{% block body %}
<div class="create-form">
    {{ form_start(outingCreationForm) }}

    <div>
        {{ form_errors(outingCreationForm) }}
    </div>

    {{ form_row(outingCreationForm.name) }}
    {{ form_row(outingCreationForm.startAt) }}
    {{ form_row(outingCreationForm.limitSubscriptionDate) }}
    {{ form_row(outingCreationForm.maxUsers) }}
    {{ form_row(outingCreationForm.duration) }}
    {{ form_row(outingCreationForm.about) }}
    {{ form_row(outingCreationForm.campus) }}

    <div>
        {{ form_row(outingCreationForm.place.town) }}
        {{ form_row(outingCreationForm.place.name) }}
        {{ form_row(outingCreationForm.place.street) }}
        {{ form_row(outingCreationForm.place.latitude) }}
        {{ form_row(outingCreationForm.place.longitude) }}
        <!--<button id="addPlace"><img href="" alt="Nouveau Lieu"/></button>-->
    </div>

    <div>
        {{ form_row(outingCreationForm.save) }}
        {{ form_row(outingCreationForm.publish) }}
        <button type="button" id="cancel"
                onclick="confirmCancel()">
            Annuler
        </button>
    </div>

    {{ form_end(outingCreationForm) }}
</div>
{% endblock %}

